.services {
  padding: 60px 0;
  background-color: $custom-black;
  box-shadow: 0px 0px 10px 3px rgba(0, 141, 210, 1);

  .subtitle {
    a {
      color: $main-color;
      text-decoration: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__thumbex {
    margin: 60px 30px 0px 30px;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 300px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid $main-color;
    outline-offset: -15px;
    background-color: $custom-black;
    box-shadow: 0px 0px 10px 3px rgba(0, 141, 210, 1);

    .services__thumbnail {
      overflow: hidden;
      min-width: 250px;
      height: 300px;
      position: relative;
      opacity: 0.88;
      backface-visibility: hidden;
      transition: all 0.4s ease-out;

      img {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        height: 115%;
        width: auto;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
      }

      span {
        position: absolute;
        z-index: 2;
        top: calc(150px - 20px);
        left: 0;
        right: 0;
        border-radius: 10px;
        background: rgba(0, 141, 210, 0.6);
        padding: 10px 60px;
        margin: 0 45px;
        text-align: center;
        font-size: 24px;
        color: $custom-grey;
        font-weight: 300;
        font-family: "Oswald", sans-serif;
        letter-spacing: 0.2px;
        transition: all 0.3s ease-out;
      }

      &:hover {
        backface-visibility: hidden;
        transform: scale(1.15, 1.15);
        opacity: 1;

        span {
          opacity: 0;
        }
      }
    }
  }
}