@media (max-width: 1079px) {
    .contacts {
        &__phone {
            a {
                font-size: 23px;
            }
        }

        &__social {
            display: flex;
            justify-content: space-around;

            a {
                font-size: 20px;
            }
        }


    }
}

@media (max-width: 767px) {
    .contacts {

        .container {
            display: flex;
            flex-direction: column;
            padding: 30px 0;
        }

        &__social {
            display: flex;
            justify-content: space-around;
            width: 100%;

            a {
                font-size: 30px;
            }
        }

        &__phone {
            a {
                font-size: 30px;
            }
        }

    }
}

@media (max-width: 424px) {
    .contacts {
        &__social {
            a {
                font-size: 20px;
            }
        }

        &__phone {
            a {
                font-size: 20px;
            }
        }

        button {
            width: 180px;
            height: 40px;
        }

    }
}