@media (max-width: 1300px) {
    .header {
        &__links {
            li {
                padding: 5px 10px 10px 30px;
            }
        }
    }
}

@media (max-width: 1079px) {
    .header {
        &__social {
            height: 25px;
        }

        &__contact {
            font-size: 12px;

            a {
                font-size: 10px;
            }

            address {
                font-size: 10px;
            }
        }

        &__navbar {
            height: 50px;
        }

        &__logo {
            img {
                width: 115px;
                height: 50px;
            }
        }

        &__links {
            font-size: 10px;

            li {
                padding: 0px 15px 5px 15px;
            }
        }

        &__phone {
            margin-top: -7px;
            font-size: 11px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__social {
            display: none;
        }

        &__navbar {
            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
        }

        &__links {
            display: flex;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 99999;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            background-color: rgba(34, 34, 34, 1);
            box-shadow: 0px 0px 10px 3px rgba(0, 141, 210, 1);
            transition: .6s all;

            li {
                padding: 30px 0;
                font-size: 12px;
            }

            &_active {
                left: 0;
            }
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            transform: translateY(-50%);
            width: 26px;
            height: 18px;

            span {
                display: block;
                height: 3px;
                width: 100%;
                margin-bottom: 3px;
                background-color: $main-color;
                transition: 0.5s all;
            }

            &_active {
                span {
                    margin-top: 5px;
                    margin-bottom: -8px;

                    &:nth-child(1) {
                        transform: translate(3px) rotate(-45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: translate(3px) rotate(45deg);
                    }
                }
            }
        }
    }
}