@media (max-width: 1140px) {
    .promo {
        &__subtitle {
            margin-top: 180px;
            font-size: 35px;
        }

        &__title {
            font-size: 45px;
        }

        &__heading {
            font-size: 25px;
        }

        &__description {
            font-size: 18px;
        }
    }
}

@media (max-width: 1079px) {
    .promo {
        height: 650px;

        &__fullscreen-bg {
            height: 650px;
        }

        &__overlay {
            height: 650px;
        }

        &__subtitle {
            margin-top: 90px;
            font-size: 25px;
        }

        &__title {
            font-size: 30px;
        }

        &__wrapper {
            margin-top: 0;

            img {
                width: 80px;
                height: 80px;
            }
        }

        &__heading {
            font-size: 18px;
        }

        &__description {
            font-size: 14px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__fullscreen-bg {
            background: url('../img/packages/mobile_bg.jpg') center no-repeat;
            background-position: top;
        }

        &__video {
            display: none;
        }

        &__subtitle {
            margin-top: 60px;
            font-weight: 600;
        }

        &__title {
            font-size: 23px;
        }

        &__wrapper {

            img {
                display: none;
            }
        }
    }
}

@media (max-width: 424px) {
    .promo {
        &__heading {
            margin-top: 30px;
        }
    }
}

@media (max-width: 374px) {
    .promo {
        &__title {
            font-size: 23px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__proposal {
            margin-top: 0;
        }

        &__heading {
            margin-top: 0;
        }

    }
}