@media (max-width: 767px) {
    .title {
        font-size: 26px;
    }

    .subtitle {
        font-size: 16px;
    }
}

@media (max-width: 374px) {
    .title {
        font-size: 18px;
    }

    .subtitle {
        font-size: 12px;
    }
}